body {
    background-color: lightpink;
}

.form {
    background-color: slategray;
}

.toDoList {
    background-color: slategray;
}

#toDo {
    font-size: 12px;
}

input {
    display: flex;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    font-size: 28px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}